.left {
    width: 380px;
    float: left;
}

.right {
    float: right;
}

.search-input-border {
    border-radius: 5px;
    background-color: #3983E5;
    padding: 6px;
}

.search-input-border b {
    float: left;
    width: 18px;
    height: 13px;
    margin: 13px 10px 0 10px;
    background-image: url(../img/spring.png);
    background-position: -48px -108px;
}

.search-input-border h2 {
    float: left;
    height: 43px;
    line-height: 43px;
    color: #fff;
}

.select-info {
    text-align: right;
    background-color: #fff;
    padding: 10px 6px 20px 6px;
    border-radius: 5px;
}

/*输入信息部分开始*/

.select-info .switch-search label {
    display: block;
    margin: 10px;
}

.select-info .switch-search .single {
    display: inline;
}

.select-info .switch-search .single input {
    width: 90px;
}

.select-info .switch-search select {
    height: 28px;
    border-color: #bbb #ddd #ddd #bbb;
}

.switch-search select[name="level"] {
    width: 232px;
    padding-left: 3px;
    border-width: 1px;
}

.switch-search input {
    padding-left: 3px;
    border-color: #bbb #ddd #ddd #bbb;
    border-style: solid;
    border-width: 1px;
    height: 28px;
    width: 227px;
}

/*输入信息部分结束*/

.select-info input[name="sub"] {
    width: 232px;
    margin-right: 10px;
    text-shadow: 1px 1px 0 #CF7000;
    background-color: #ffb000;
    border: solid 1px #E77C00;
    height: 33px;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(95, 50, 0, 0.7);
    border-radius: 3px;
}

.slideshow {
    position: relative;
    width: 780px;
    height: 235px;
}

.slideshow .img li {
    width: 780px;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
}

.slideshow .img .selected {
    opacity: 1;
}

.slideshow img {
    width: 100%;
}

.slideshow .index {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.slideshow .index li {
    color: transparent;
    border: 2px solid #fff;
    background-color: #0ab0e8;
    border-radius: 11px;
    float: left;
    width: 11px;
    height: 11px;
    margin-right: 8px;
    cursor: pointer;
}

.slideshow .index .selected {
    background-color: #f8cd47;
}

/* 合作方部分开始 */

.cooperator {
    margin-top: 20px;
}

.cooperator h2 {
    padding: 20px 0;
    color: #5599dd;
}

.cooperator a {
    display: block;
    height: 63px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #c4e3ea;
    border-radius: 3px;
}

.cooperator a:hover {
    border-color: #06C;
}

/* 合作方部分结束 */

/* 热门酒店部分开始 */

.hot-hotel .hot-sold-title {
    position: relative;
    height: 50px;
    margin-bottom: 10px;
    border-bottom: 3px solid #5599dd;
    font: 28px/58px "Microsoft Yahei";
    color: #5599dd;
}

.hot-hotel .hot-sold-title .bg {
    position: absolute;
    top: 6px;
    right: 10px;
    width: 189px;
    height: 44px;
    background: url(../img/spring.png) no-repeat;
    background-position: 0 -164px;
}

/* 酒店部分的导航列表 */

.hot-hotel .city-list {
    position: absolute;
    margin: -37px 0 0 128px;
}

.hot-hotel .city-list li {
    float: left;
    padding: 2px 5px;
    cursor: pointer;
    position: relative;
}

.hot-hotel .city-list li:hover {
    background-color: #0066cc;
    color: #FFF;
}

.hot-hotel .city-list .selected::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -4px;
    border-width: 4px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #5599DD transparent;
}

/* 设置每一个li的样式 */

.content .hotel-info {
    padding: 10px 0;
    border-bottom: 1px dotted #DDD;
    display: flex;
}

.content .hotel-info:hover {
    background-color: #E8F4FF;
}

/* 酒店图片 */

.hotel-info .hotel-pic img {
    height: 130px;
    width: 130px;
    border-width: 0px;
    border-radius: 5px;
    margin-right: 10px;
}

/* 酒店信息部分 */

.hotel-info .hotel-info-name {
    flex-grow: 5;
}

.hotel-info .hotel-info-name .hotel-title {
    color: #06C;
    /* display: inline;
    margin-right: 5px; */
    vertical-align: middle;
    font: bold 14px Simsun;
}

.hotel-info .hotel-info-name .hotel-title:hover {
    text-decoration: underline;
}

.hotel-info-name .hotel-zone {
    margin: 10px 0 5px 0;
}

.hotel-info-name .hotel-zone a {
    font-size: 12px;
    margin-right: 10px;
    color: #333;
    text-decoration: underline;
}

.hotel-info-name .hotel-score {
    color: #333;
    font-size: 12px;
}

.hotel-info-name .hotel-score:hover {
    text-decoration: underline;
}

.hotel-info-name .hotel-comment {
    margin-top: 10px;
    color: #999;
}

.hotel-info-name .hotel-comment span {
    max-height: 36px;
    line-height: 18px;
    font-size: 12px;
    font-family: Simsun;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

/* 右侧价格部分 */

.hotel-info .hotel-price {
    flex-grow: 2;
    text-align: right;
    color: #F60;
    margin-top: 5px;
}

.hotel-info .hotel-price .price-icon {
    color: #333;
    font: 12px Arial;
    vertical-align: 8px;
}

.hotel-info .hotel-price .price {
    margin-right: 5px;
    font: normal 24px Tahoma;
}

.hotel-info .hotel-price .price-word {
    font-size: 12px;
}

/* 热门酒店部分结束 */