/* 左侧列表 */

.left .order li {
    padding: 0;
}

.left .order a {
    display: block;
    color: #333;
    padding: 20px 30px;
}

/* 右侧定制行程部分开始 */

.right {
    background-color: #f7f7f7;
}

/* 左侧添加行程开始 */

.order-travel {
    margin-left: 20px;
    margin-top: 50px;
    width: 320px;
    float: left;
    padding: 10px;
    background: rgb(96, 157, 238);
    border-radius: 4px;
}

.order-travel .title {
    font-size: 16px;
    background: transparent;
    color: #fff;
}

.order-travel .add-travel {
    background: #fff;
    border-radius: 5px;
    padding-bottom: 20px;
}

.add-travel .travel-info label {
    display: block;
    padding: 15px 0;
    text-align: center;
}

.add-travel .travel-info .travel-recode {
    resize: none;
}

.add-travel .travel-info input {
    width: 200px;
    height: 30px;
}

.add-travel .sub {
    width: 200px;
    display: block;
    margin: 0 auto;
    text-shadow: 1px 1px 0 #CF7000;
    background-color: #ffb000;
    border: solid 1px #E77C00;
    height: 33px;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(95, 50, 0, 0.7);
    border-radius: 3px;
}

.add-travel .sub:hover {
    background-color: #E77C00;
}

/* 左侧添加行程结束 */

/* 右侧显示行程开始 */

.show-travel {
    float: right;
    width: 520px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 40px;
    background: #fff;
}

.details li {
    margin-top: 20px;
}

.details .name {
    font-weight: bolder;
    padding-left: 50px;
    background: url(../img/map_icon.png) no-repeat 15px 0;
}

.details .content {
    margin-top: 10px;
    background: url(../img/line_repeat.png) repeat-y left;
    width: 440px;
    padding-left: 60px;
    color: #666;
    font-size: 14px;
}

.content .hotel {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.content .map {
    border: 1px solid;
    width: 440px;
    height: 200px;
    box-shadow: 0 0 10px #333;
}

.details .no-travel {
    display: none;
    color: #666;
    text-align: center;
}

.details .visible {
    display: block;
}

/* 右侧显示行程结束 */

/* 右侧定制行程部分结束 */